.contacts

	&__row
		display: flex
		flex-wrap: wrap

	&__col
		padding: 0 15px
		&--left
			flex-basis: 35.2%
			max-width: 35.2%
		&--center
			flex-basis: 38.7%
			max-width: 38.7%
		&--right
			flex-basis: 26.1%
			max-width: 26.1%

	&__phone
		margin-bottom: 14px

	&__btn
		display: inline-block
		padding: 15.5px 37.4px
		margin-bottom: 70px

	&__small-title
		font-family: $roboto
		font-size: 14px
		line-height: 22px
		color: rgba($c1, .5)
		margin-bottom: 14px

	&__address-text
		font-family: $roboto
		font-weight: normal
		font-size: 22px
		line-height: 32px
		color: $c1