section.b-section.-chopped-nuts
	._bg-wrap(style="background-color: #FEF8E1")
		img._bg-img(src="img/categories/nuts/bg-img.png", alt="")
		.container
			h1._title Дробленные и резанные орехи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Дробленные и резанные орехи
	.container._container
		._product-title-wrap
			h2._product-title Лепестки, иголочки
		.b-products._products
			.row
				+productItemModified('img/categories/chopped-nuts/item1.png', 'Фундучные лепестки', 'big', 'shaded', 'chopped-nuts1')
				+productItemModified('img/categories/chopped-nuts/item2.png', 'Миндальные лепестки', 'big', 'shaded', 'chopped-nuts2')
				+productItemModified('img/categories/chopped-nuts/item3.png', 'Арахисовые лепестки', 'big', 'shaded', 'chopped-nuts3')
				+productItemModified('img/categories/chopped-nuts/item4.png', 'Фисташковые лепестки', 'big', 'shaded', 'chopped-nuts4')
				+productItemModified('img/categories/chopped-nuts/item5.png', 'Миндальные иголочки', 'big', 'shaded', 'chopped-nuts5')
				+productItemModified('img/categories/chopped-nuts/item6.png', 'Фисташковые иголочки', 'big', 'shaded', 'chopped-nuts6')
		._product-title-wrap
			h2._product-title Дробленый орех сырой и обжаренный
		.b-products
			.row
				+productItemModified('img/categories/chopped-nuts/item7.png', 'Фундук 2-11 мм', 'big', 'shaded', 'chopped-nuts7')
				+productItemModified('img/categories/chopped-nuts/item8.png', 'Фундук 0-2, 1-2 мм', 'big', 'shaded', 'chopped-nuts8')
				+productItemModified('img/categories/chopped-nuts/item9.png', 'Арахис 2-11 мм', 'big', 'shaded', 'chopped-nuts9')
				+productItemModified('img/categories/chopped-nuts/item10.png', 'Арахис 0-2, 1-2 мм', 'big', 'shaded', 'chopped-nuts10')
				+productItemModified('img/categories/chopped-nuts/item11.png', 'Фисташка 2-11 мм', 'big', 'shaded', 'chopped-nuts11')
				+productItemModified('img/categories/chopped-nuts/item12.png', 'Фисташка 0-2, 1-2 мм', 'big', 'shaded', 'chopped-nuts12')
				+productItemModified('img/categories/chopped-nuts/item13.png', 'Миндаль 2-11 мм', 'big', 'shaded', 'chopped-nuts13')
				+productItemModified('img/categories/chopped-nuts/item14.png', 'Миндаль 0-2, 1-2 мм', 'big', 'shaded', 'chopped-nuts14')