section.b-section.-invetory
	._bg-wrap(style="background-color: #F0FAFF")
		img._bg-img(src="img/categories/inventory/bg-img.png", alt="")
		.container
			h1._title Инвентарь для кондитеров
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Инвентарь для кондитеров
	.container._container
		.b-products
			.row
				+productItemHover('img/categories/invetory/item1.png', 'img/categories/invetory/hover-img/item1.png', 'Лаванда', 'big', 'hover')
				+productItemHover('img/categories/invetory/item2.png', 'img/categories/invetory/hover-img/item2.png', 'Корень галангала', 'big', 'hover')
				+productItemHover('img/categories/invetory/item3.png', 'img/categories/invetory/hover-img/item3.png', 'Ваниль', 'big', 'hover')
				+productItemHover('img/categories/invetory/item4.png', 'img/categories/invetory/hover-img/item4.png', 'Корица', 'big', 'hover')
				+productItemHover('img/categories/invetory/item5.png', 'img/categories/invetory/hover-img/item5.png', 'Кориандер', 'big', 'hover')
				+productItemHover('img/categories/invetory/item6.png', 'img/categories/invetory/hover-img/item6.png', 'Мускатный орех', 'big', 'hover')
				+productItemHover('img/categories/invetory/item7.png', 'img/categories/invetory/hover-img/item7.png', 'Чили перец', 'big', 'hover')
				+productItemHover('img/categories/invetory/item8.png', 'img/categories/invetory/hover-img/item8.png', 'Дущистый перец', 'big', 'hover')
				+productItemHover('img/categories/invetory/item9.png', 'img/categories/invetory/hover-img/item9.png', 'Черный перец', 'big', 'hover')
				+productItemHover('img/categories/invetory/item10.png', 'img/categories/invetory/hover-img/item10.png', 'Белый перец', 'big', 'hover')
				+productItemHover('img/categories/invetory/item11.png', 'img/categories/invetory/hover-img/item11.png', 'Тмин', 'big', 'hover')
				+productItemHover('img/categories/invetory/item12.png', 'img/categories/invetory/hover-img/item12.png', 'Зира', 'big', 'hover')
				+productItemHover('img/categories/invetory/item13.png', 'img/categories/invetory/hover-img/item13.png', 'Имбирь', 'big', 'hover')
				+productItemHover('img/categories/invetory/item14.png', 'img/categories/invetory/hover-img/item14.png', 'Кардамон', 'big', 'hover')
				+productItemHover('img/categories/invetory/item15.png', 'img/categories/invetory/hover-img/item15.png', 'Куркума', 'big', 'hover')
				+productItemHover('img/categories/invetory/item16.png', 'img/categories/invetory/hover-img/item16.png', 'Шафран', 'big', 'hover')
				+productItemHover('img/categories/invetory/item17.png', 'img/categories/invetory/hover-img/item17.png', 'Паприка', 'big', 'hover')
				+productItemHover('img/categories/invetory/item18.png', 'img/categories/invetory/hover-img/item18.png', 'Бадьян', 'big', 'hover')
				+productItemHover('img/categories/invetory/item19.png', 'img/categories/invetory/hover-img/item19.png', 'Вассаби', 'big', 'hover')
				+productItemHover('img/categories/invetory/item20.png', 'img/categories/invetory/hover-img/item20.png', 'Цедра лимона', 'big', 'hover')
				+productItemHover('img/categories/invetory/item21.png', 'img/categories/invetory/hover-img/item21.png', 'Чеснок', 'big', 'hover')