section.b-section.-nuts
	._bg-wrap(style="background-color: #FEF8E1")
		img._bg-img(src="img/categories/nuts/bg-img.png", alt="")
		.container
			h1._title Орехи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Орехи
	.container._container
		.b-products
			.row
				+productItemModified('img/categories/nuts/item1.png', 'Миндаль', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item2.png', 'Миндаль бланш.', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item3.png', 'Кешью', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item4.png', 'Фисташка', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item5.png', 'Фисташка бланш.', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item6.png', 'Фундук', 'big', 'shaded')
				+productItemModified('img/categories/nuts/item7.png', 'Фундук бланш.', 'big', 'shaded')