section.b-section.-paste
	._bg-wrap(style="background-color: #FBF4E1;")
		img._bg-img(src="img/categories/paste/bg-img.png", alt="")
		.container
			h1._title Паста, Урбечи
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Паста, Урбечи
	.container._container
		._product-title-wrap
			h2._product-title Паста
		.b-products
			.row
				+productItemModified('img/categories/paste/item1.png', 'Арахисовая', 'small', 'paste')
				+productItemModified('img/categories/paste/item2.png', 'Арахисовая обж.', 'small', 'paste')
				+productItemModified('img/categories/paste/item3.png', ' Миндальная', 'small', 'paste')
				+productItemModified('img/categories/paste/item4.png', 'Кешью', 'small', 'paste')
				+productItemModified('img/categories/paste/item5.png', 'Фисташковая', 'small', 'paste')
				+productItemModified('img/categories/paste/item6.png', 'Фисташкова обж.', 'small', 'paste')
				+productItemModified('img/categories/paste/item7.png', 'Кокосовая', 'small', 'paste')
				+productItemModified('img/categories/paste/item8.png', 'Фундучная', 'small', 'paste')
	.b-banner._banner(style="background: url('img/categories/paste/banner-bg.jpg') no-repeat center center/cover;")
		.container
			._wrap
				._col.-left
					._icon-wrap
						img._icon(src="img/categories/paste/banner-icon.svg", alt="")
					._content-wrap
						h3._title Так же имеется объем пасты 1 кг.
						._desc
							p У нас можно заказать партии пасты в любых объемах. Мы сотрудничаем с частными клиентами, предприятиями общественного питания, кондитерскими.
				._col.-right
					._product-img-wrap
						img._product-img(src="img/categories/paste/banner-product.png", alt="")
	.container
		._product-title-wrap
			h2._product-title Урбеч
		.b-products
			.row
				+productItemModified('img/categories/paste/urbach/item1.png', 'Урбеч из тыквы', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item2.png', 'Урбеч из подсолнуха', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item3.png', ' Урбеч из семян льна', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item4.png', 'Урбеч из кунжута', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item5.png', 'Урбеч из миндаля', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item6.png', 'Урбеч из арахиса', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item7.png', 'Урбеч из ореха', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item8.png', 'Урбеч из кешью', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item9.png', 'Урбеч из абрикоса', 'small', 'paste')
				+productItemModified('img/categories/paste/urbach/item10.png', 'Урбеч из кокоса', 'small', 'paste')