body
	min-width: 320px
	position: relative
	font-family: $deff
	font-weight: normal
	line-height: 1.65
	overflow-x: hidden
	-webkit-font-smoothing: antialiased
	color: $c0


html,
body
	font-size: 16px
	+xxl
		// font-size: 15px
	+xl
		// font-size: 14px
	+lg
		// font-size: 12px
	+md
		// font-size: 11px
	+sm