.main-header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 40px 50px 0
	width: 100%
	position: fixed
	top: 0
	left: 50%
	transform: translateX(-50%)
	z-index: 1
	&__hamburger
		margin-left: auto