section.b-main.fp-section
	.b-main-bg
		._layer-wrap
			img._layer-img(src="img/index/main-bg/main-bg.png", alt="")
		._line.-top
			._flowers.-left
				img._flower-img(src="img/index/main-bg/left-flowers.png", alt="")
			._flowers.-right
				img._flower-img(src="img/index/main-bg/right-flowers.png", alt="")
		._line.-bottom
			._nuts.-left
				img._nuts-img(src="img/index/main-bg/left-nuts.png", alt="")
			._nuts.-right
				img._nuts-img(src="img/index/main-bg/right-nuts.png", alt="")
	.container
		._wrap
			a.b-logo.-big._logo(href="#")
				img._img(src="img/logo/logo.svg", alt="")
			h1._title Высочайшее качество
			._sub-title Оптовая и розничная продажа муки и продукции из орехов
			._btn-wrap
				a.btn._btn(href="#")
					span._icon-wrap
						+icon('phone')
				a.b-trs-btn._btn(href="#")
					span._icon-wrap
						+icon('download')
			.b-scroll-down
				img._img(src="img/icons/scroll-down.png", alt="")