section.b-section.-inventory
	._bg-wrap(style="background-color: #F9F6F0")
		.container
			h1._title Контакты
			ul.b-breadcrumbs
				li._item
					a._link(href="index.html") Главная
						span._seperator
							+icon('arrow-right')
				li._item.-disabled
					a._link(href="#") Контакты
	.container._container