footer.b-footer
	._top-line
		.container
			.row
				._col.-left
					a.b-logo.-medium._logo(href="index.html")
						img._img(src="img/logo/footer-logo.svg", alt="")
				._col.-center
					._small-title Телефон / факс
					a.b-phone.-white.-normal.-big._phone(href="tel:+74959611721") +7 (495) 961-17-21
					a.b-trs-btn.-green.-small._btn(href="#") Оставить заявку
					._small-title E-mail
					a.b-email.-green.-big._email(href="mailto:peresvet@orehprodukt.ru") peresvet@orehprodukt.ru
				._col.-right
					._small-title Адрес
					._address-text г. Москва, м. Шелепиха, <br>Шмитовский проезд, дом 34, стр. <br>2, этаж 1, офис 7.
	._bottom-line
		.container
			.row._row
				._bottom-col.-left
					._copyright © 2020, «Orehprodukt.ru». Все права защищены.
				._bottom-col.-right
					ul.b-socials._socials
						li._item
							a._link(href="#")
								+icon('vk')
						li._item
							a._link(href="#")
								+icon('insta')
						li._item
							a._link(href="#")
								+icon('fb')
|
|
// Catalog popup
include ./modules/catalog-popup
|
|
// Menu popup
include ./modules/menu-popup

// Product popup
.b-mfp.-product.zoom-anim-dialog.mfp-hide#product
	.b-product-info
		.b-preloader
			._circle
		._row
			._col.-left
				._content.-left
					._container.-left
						._img-title.-left Отборные орехи
						._sliders-wrap
							.b-product-slider.owl-carousel._product-slider
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								._item
									._img-wrap
										img._img(src="img/popup-img.png", alt="")
							.b-product-slider-navigation.owl-carousel
								._item
									._img-wrap
										img._img(src="img/categories/paste/item2.png", alt="")
								._item
									._img-wrap
										img._img(src="img/popup-img.png", alt="")
			._col.-right
				._content.-right
					._container.-right
						._img-title.-right Паста
						h2._title Миндальная паста
						.b-info-list._info-list
							//- ._row
							//- 	._title Состав:
							//- 	._value 100 % очищенный, сырой миндаль.
							//- ._row
							//- 	._title Внешний вид:
							//- 	._value Тягучая масса (паста), бежевого цвета.
							//- ._row
							//- 	._title Размер:
							//- 	._value Допускаются частицы до 1 мм.
							//- ._row
							//- 	._title Цвет:
							//- 	._value От бежевого цвета до цвета слоновой кости, допускается незначительная неоднородность цвета.
							//- ._row
							//- 	._title Пищевая и энергетическая ценность
							//- 	._value Белки - 23.6г, Жиры - 50.4г, Углеводы - 3.9г Энергетическая ценность: 605 Ккал.
							//- ._row
							//- 	._title Вид упаковки:
							//- 	._value Полимерное ведро 3 - 5.5 кг.
							//- ._row.-center
								._title Выберите вес
						._toggle-desc
							._desc
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
								//- p Миндальная паста - это мелкоизмельченая смесь сырого миндаля. При изготовлении пасты используются технологии, помогающие сохранять все полезные свойства. В результате полученная смесь очень полезна для организма, так она не имеет добавок, но богата витаминами и белками.
						a.link._link(href="#") Показать всё
						._btn-wrap
							a.b-btn.-small._order-btn(href="#") Заказать образец
							a.b-trs-btn.-small._offer-btn(href="#") Получить предложение


// Request popup
include ./modules/request-popup

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Success!
			._desc We will contact with you soon

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.js")