header.b-main-header
	a.b-logo.-hidden._logo(href="index.html")
		img._img(src="img/logo/logo.svg", alt="")
	button.hamburger._hamburger.hamburger--slider.js-menu(type='button')
		span.hamburger-box
			span.hamburger-inner
