include ../layout/_mixins

doctype html
html(lang="ru")
	- var title = 'Главная | Орехпродукт'
	include ../layout/_head
	
	body
		|
		|
		|
		// Header
		include ../layout/_main-header

		|
		|
		|
		// Section
		main.main-page.fp-sections
			include ./index/main
			include ./index/category-flour
			include ./index/category-mash
			include ./index/category-nuts
			include ./index/category-chopped-nuts
			include ./index/category-inventory
		|
		|
		|
		// Footer
		include ../layout/_footer